// font-family: 'Inter', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
$theme-colors: (
    "primary": #ff3a52,
    "dark": #000000
);

$font-family-base: 'Poppins', sans-serif !important;
$font-opensans: 'Open Sans', sans-serif !important;
$font-inter: 'Inter', sans-serif;
$font-size-base: 0.875rem;
