@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variable";
@import "node_modules/bootstrap/scss/bootstrap";
@import "page";
@media screen and(min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}
.navbar {
    transition: all 0.3s ease;
    .navbar-cstm > li.nav-item > a.nav-link {
        color: white !important;
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        @media screen and(max-width: 768px) {
            // color: #004AC1 !important;
        }
    }
}
.spacer-btn {
    margin-left: 30px;
    border-left: 1px solid white;
    @media screen and(max-width: 767px){
        margin-left: 0px;
        border: none;
    }
    .btn-sign-in {
        font-family: $font-inter;
        margin-left: 30px;
        border: 1px solid white;
        color: white;
        font-weight: 500;
        font-size: 16px;
        @media screen and(max-width: 767px){
            display: inline-block;
            margin-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            a > i {
                margin-right: 1px;
            }
        }
    }
}
.button-headers{
    margin-top: 245px;
}
header {
    background-color: #004AC1;
    min-height: 100%;
    background-image: url('./../img/LandingPageBackground.svg');
    background-repeat: no-repeat;
    padding-bottom: 175px;
    background-size: contain !important;
    .img-logo {
        max-width: 270px;
        position: relative;
        left: -60px;
    }
    .content-header {
        margin-bottom: 55px;
        h1 {
            font-size: 25px;
            font-weight: 500;
            color: white;
            line-height: 115.3%;
            letter-spacing: -0.02em;
            margin-bottom: 30px;
        }
        .welcome {
            font-family: $font-opensans; 
            font-size: 20px;
            color: white;
            line-height: 28px;
            letter-spacing: -0.03em;
            padding-left: 18px;
            border-left: 5px solid #FFC700;
        }
    }
}
section{
    padding: 40px 0;
}
section.about-me {
    min-height: 607px;
    padding: 115px 0 100px 0;
    background-color: #004AC1;
    background-image: url(./../img/bg-about.svg);
    background-size: contain;
    background-repeat: no-repeat;
    .content-tentang-kami {
        h6 {
            color: white;
            margin-bottom: 62px;
            margin-top: 30px;
            border-right: 2px solid #FF7200;
            border-left: 2px solid #FF7200;
            display: inline-block;
            padding: 0 8px;
        }
    }
}

section.produk-hukum {
    background-image: url(./../img/bg-produk.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 151px;
    padding-bottom: 15px;
    .search-produk-hukum {
        margin-top: 50px;
        margin-bottom: 38px;
        >input {
            border: 1px solid #FF7200;
            border-radius: 0px !important;
            height: 58px;
        }
    }
    .input-group-append span {
        min-width: 175px;
        background-color: #FF7200;
        border: 1px solid #FF7200;
        border-radius: 0px;
        justify-content: center;   
        color: white;
    }
    .content-paragraph {
        width: 100%;
        color: black;
        text-align: center;
        font-family: $font-opensans;
    }
}

section.statistik-kegiatan {
    padding-top: 245px;
    padding-bottom: 320px;
    background-image: url(./../img/bg-statistik.svg);
    background-repeat: no-repeat;
    .content-statistik h1 {
        margin-bottom: 60px;
    }
    .item-number {
        padding: 40px;
        text-align: center;
        box-shadow: 9.18865px 16.3354px 62.2786px rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        .number {
            font-style: normal;
            font-weight: 600;
            font-size: 70px;
            line-height: 95px;
            text-align: center;
            letter-spacing: -0.03em;
            color: #2C2C2C;
        }
        .text-number {
            font-style: normal;
            font-weight: 600;
            font-size: 21.2526px;
            line-height: 29px;
            text-align: center;
            letter-spacing: -0.03em;
            color: #656565;
        }
    }
    .paragraph {
        p {
            font-size: 16px;
            line-height: 120.68%;
            text-align: center;
            margin-bottom: 0;
            max-width: 515px;
            text-align: center;
            margin: 0 auto;
            margin-top: 45px;
            font-family: $font-opensans;
        }
    }
}

section.panduan {
    padding-top: 0px;
    background-image: url(./../img/bg-panduan.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 310px;
    .content-paragraph {
        p {
            color: black;
            font-family: $font-opensans;
        }
    }
}

.title-footer h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    font-family: $font-opensans;
}
.list-menus-footer li a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 208.52%;
    letter-spacing: -0.03em;
    color: #737373;
    font-family: $font-opensans;
}

.content-footer-kemenag {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #C0C0C0;
    .title {
        h1 {
            font-family: Inter;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            color: black;
            margin-bottom: 0px;
        }
    }
    .subtitle {
        font-family: $font-inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
}
.address-footer {
    margin-top: 35px;
    small {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 173.68%;
        font-family: $font-opensans;
    }
}

.btn-download-panduan {
    background: #004AC1;
    min-height: 58px;
    min-width: 210px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.03em;
    border-radius: 0px;
    padding: 16px 0;
    font-family: $font-opensans;

}

.content-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120.68%;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: $font-opensans;
    @media screen and(min-width: 991px){
        width: 75%;
    }
}

.btn-readmore {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120.68%;
    letter-spacing: -0.03em;
    border-bottom: 2px solid #FF7200;
    padding: 0px;
    font-family: $font-opensans;
}

.title-section {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 103.8%;
    letter-spacing: -0.02em;
    color: black;
}
.button-header {
    a {
        min-width: 155px;
        min-height: 45px;
        padding: 10px;
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.03em;
        color: white;
    }
    .btn-login {
        background: #FF7200;
        box-shadow: 6px 6px 19px rgba(255, 114, 0, 0.56);
        margin-right: 12px;
    }
    .btn-signup {
        border: 1px solid white;
    }
}
.button-bg-header {
    padding: 20px;
    background-color: #fff;
    position: relative;
    span {
        font-family: $font-inter;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 103.8%;
        letter-spacing: -0.02em;
        color: #272827;
        margin-left: 20px;
    }
    .arrow {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}
.footer {
    padding-top: 220px;
    background-image: url(./../img/bg-footer.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    min-height: 470px;
}
.copyright {
    .line-copyright{
        padding-top: 15px;
        border-top: 1px solid #B6B6B6;
        font-family: $font-opensans;
    }
}
.list-medsos {
    li a {
        color: #333333;
    }
}
.copyright-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 141.02%;
    text-align: right;
    letter-spacing: -0.03em;
    color: #050505;
}

.scroll-to-top {
    display: none;
    position: fixed;
    right: 3px;
    bottom: 30px;
}

.navbar-brand-custom {
    display: none;
    img {
        max-width: 100px;
    }
    @media screen and(max-width: 767px) {
        display: block;
    }
}

.pt-custom {
    margin-top: 120px;
}

.nav-custom {
    button {
        border-color: white;
        > img {
            max-width: 40px;
        }
    }
    @media screen and(max-width: 767px) {
        color: white;
        background-color: #004AC1;
        padding-top: 15px !important;
        box-shadow: 0 1px 3px #FFFFFF;
    }
}

.content-tentang-kami {
    @media screen and(max-width:991px) {
        padding: 30px;
    }
}

.header-page {
    background-color: #004AC1;
    background-image: url(./../img/bg-header-pg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 416px;

}
.form-search-header {
    position: relative;
    top: 180px;
}

.form-search {
    position: relative;
    .search-icon {
        position: absolute;
        top: 20px;
        left: 15px;
    }
    .form-control-custom {
        min-height: 64px;
        border-radius: 5px;
        padding-left: 50px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #A6A6A6;
        font-family: $font-opensans;
    }
}

.navbar-page img{
    max-width: 130px;
}

.btn-search-page {
    min-height: 44px;
    min-width: 138px;
    color: white;
    background-color: #ff7200;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: $font-opensans;

}

.form-group-custom {
    >label {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: white;
        font-family: $font-opensans;

    }
    >select {
        border-radius: 5px;
        min-height: 45px;
        font-family: $font-opensans;

    }
    button[type=reset] {
        position: relative;
        top: 35px;
        text-align: center;
        font-family: $font-opensans;

    }
}

.background-c {
    background-color: #004AC1 !important;
    padding-top: 12px !important;
    .navbar-cstm {
        li a {
            color: white;
        }
    }
}