<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-footer">
                    <div class="d-flex">
                        <div class="logo">
                            <img src="./img/kemenag.png" alt="logo" class="imh-fluid">
                        </div>
                        <div class="content-footer-kemenag">
                            <div class="title">
                                <h1>SIKEPO PHU</h1>
                            </div>
                            <div class="subtitle">
                                <h6 class="mb-0">Direktor Jenderal Penyelenggaraan <br> Haji dan Umroh</h6>
                            </div>
                        </div>
                    </div>
                    <div class="address-footer">
                        <small>
                            Jl. Lapangan Banteng Barat No. 3-4, Jakarta 10710 <br>
                            +(6221) 38116789  | Direktorat Jenderal Penyelenggaraan Haji dan Umrah
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-footer">
                    <div class="title-footer">
                        <h1>Link Terkait</h1>
                    </div>
                    <ul class="list-unstyled list-menus-footer">
                        <li class="">
                            <a href="">Republik Indonesia</a>
                        </li>
                        <li class="">
                            <a href="">Kementerian Agama Republik Indonesia</a>
                        </li>
                        <li class="">
                            <a href="">Direktorat Jenderal Penyelenggara</a>
                        </li>
                        <li class="">
                            <a href="">Haji dan Umrah</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-footer">
                    <div class="title-footer">
                        <h1>Statistik Pengunjung</h1>
                    </div>
                    <ul class="list-unstyled list-menus-footer">
                        <li class="">
                            <a href="">Hari ini   2145</a>
                        </li>
                        <li class="">
                            <a href="">Bulan ini 1241</a>
                        </li>
                        <li class="">
                            <a href="">Tahun ini 124</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="line-copyright"></div>
            <div class="row">
                <div class="col-3">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <span class="float-right copyright-text">Copyright 2020  Direktorat Direktorat Jenderal Penyelenggaraan Haji dan Umrah - Kementerian Agama Republik Indonesia</span>
                </div>
            </div>
        </div>
    </div>
</footer>
    <a href="#header" class="scroll-to-top">
        <img src="./img/UpArrowButton.svg" alt="img" class="img-fluid img-top">
    </a>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
