<div class="bg-nav">
    <nav class="navbar navbar-expand-md navbar-light nav-custom fixed-top pt-4">
        <a class="navbar-brand navbar-brand-custom" href="#">
            <img src="./img/Logo.svg" alt="logo">
        </a>
        <button class="navbar-toggler d-lg-none text-white" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="./img/menu.svg" alt="" class="img-fluid">
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-cstm">
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about_us">Tentang Kami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#hukum">Produk Hukum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#statistik">Statistik Pendidikan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#panduan">Panduan</a>
                </li>
            </ul>
            <div class="d-inline spacer-btn">
                <a href="" class="nav-link btn-sign-in">
                    <i class="fas fa-user-alt"></i> Sign in
                </a>
            </div>
        </div>
    </nav>
</div>